.dir-rtl[data-v-ea4d5761] {
    direction: rtl
}

input[data-v-ea4d5761]::-webkit-inner-spin-button,
input[data-v-ea4d5761]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number][data-v-ea4d5761] {
    -moz-appearance: textfield
}

input[data-v-ea4d5761]:focus {
    outline: none
}